src/main/resources/DeliveryWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="DeliveryWebServiceService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService"
                   elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/deliveryService" version="1.0">
            <xs:element name="getNextDelivery" type="tns:getNextDelivery"/>
            <xs:element name="getNextDeliveryResponse" type="tns:getNextDeliveryResponse"/>
            <xs:element name="initializeDelivery" type="tns:initializeDelivery"/>
            <xs:element name="initializeDeliveryResponse" type="tns:initializeDeliveryResponse"/>
            <xs:complexType name="getNextDelivery">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="getNextDeliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="the_next_delivery" type="tns:delivery"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="customer" type="tns:customer"/>
                    <xs:element name="customerMark" type="xs:int"/>
                    <xs:element name="deliveryBeginTimeInSeconds" type="xs:int"/>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="deliveryEndTimeInSeconds" type="xs:int"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="packageDelivered" type="tns:package"/>
                    <xs:element name="price" type="xs:double"/>
                    <xs:element name="status" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="customer">
                <xs:sequence>
                    <xs:element minOccurs="0" name="address" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="customer_deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="package">
                <xs:sequence>
                    <xs:element minOccurs="0" name="deliveryDate" type="xs:string"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                    <xs:element minOccurs="0" name="secret_number" type="xs:string"/>
                    <xs:element name="weight" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="provider">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="name" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="packages" nillable="true" type="tns:package"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="provider_bills" nillable="true"
                                type="tns:bill"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="bill">
                <xs:sequence>
                    <xs:element name="billAmount" type="xs:double"/>
                    <xs:element minOccurs="0" name="billDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="billStatus" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="deliveries" nillable="true"
                                type="tns:delivery"/>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element minOccurs="0" name="paymentDate" type="tns:dateTime"/>
                    <xs:element minOccurs="0" name="provider" type="tns:provider"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType final="extension restriction" name="dateTime">
                <xs:complexContent>
                    <xs:extension base="tns:baseDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="baseDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractDateTime">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractDateTime">
                <xs:complexContent>
                    <xs:extension base="tns:abstractInstant">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType abstract="true" name="abstractInstant">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="initializeDelivery">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="initializeDeliveryResponse">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getNextDeliveryResponse">
        <wsdl:part element="tns:getNextDeliveryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getNextDelivery">
        <wsdl:part element="tns:getNextDelivery" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="initializeDelivery">
        <wsdl:part element="tns:initializeDelivery" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="initializeDeliveryResponse">
        <wsdl:part element="tns:initializeDeliveryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DeliveryWebService">
        <wsdl:operation name="getNextDelivery">
            <wsdl:input message="tns:getNextDelivery" name="getNextDelivery"></wsdl:input>
            <wsdl:output message="tns:getNextDeliveryResponse" name="getNextDeliveryResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeDelivery">
            <wsdl:input message="tns:initializeDelivery" name="initializeDelivery"></wsdl:input>
            <wsdl:output message="tns:initializeDeliveryResponse" name="initializeDeliveryResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DeliveryWebServiceServiceSoapBinding" type="tns:DeliveryWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getNextDelivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getNextDelivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getNextDeliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="initializeDelivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="initializeDelivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="initializeDeliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DeliveryWebServiceService">
        <wsdl:port name="DeliveryWebServicePort" binding="tns:DeliveryWebServiceServiceSoapBinding">
            <soap:address location="http://localhost:8080/DeliveryComponent/webservices/DeliveryWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>