src/main/resources/DroneWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/droneService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="DroneWebServiceService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/droneService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/droneService" attributeFormDefault="unqualified"
                   elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/droneService">
            <xs:element name="register" type="tns:register"/>
            <xs:element name="registerResponse" type="tns:registerResponse"/>
            <xs:complexType name="register">
                <xs:sequence>
                    <xs:element minOccurs="0" name="drone_id" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="registerResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception" type="tns:Exception"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="register">
        <wsdl:part element="tns:register" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerResponse">
        <wsdl:part element="tns:registerResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="DroneWebService">
        <wsdl:operation name="register">
            <wsdl:input message="tns:register" name="register"></wsdl:input>
            <wsdl:output message="tns:registerResponse" name="registerResponse"></wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DroneWebServiceServiceSoapBinding" type="tns:DroneWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="register">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="register">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registerResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DroneWebServiceService">
        <wsdl:port binding="tns:DroneWebServiceServiceSoapBinding" name="DroneWebServicePort">
            <soap:address location="http://localhost:8080/DroneManagementComponent/webservices/DroneWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>