src/main/resources/PlanningWebService.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/planningService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="PlanningWebServiceService"
                  targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/planningService">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   xmlns:tns="http://www.polytech.unice.fr/si/4a/isa/dd/planningService"
                   attributeFormDefault="unqualified" elementFormDefault="unqualified"
                   targetNamespace="http://www.polytech.unice.fr/si/4a/isa/dd/planningService">
            <xs:element name="register_delivery" type="tns:register_delivery"/>
            <xs:element name="register_deliveryResponse" type="tns:register_deliveryResponse"/>
            <xs:element name="repogramming_delivery" type="tns:repogramming_delivery"/>
            <xs:element name="repogramming_deliveryResponse" type="tns:repogramming_deliveryResponse"/>
            <xs:element name="validSlot" type="tns:validSlot"/>
            <xs:element name="validSlotResponse" type="tns:validSlotResponse"/>
            <xs:complexType name="register_delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name_client" type="xs:string"/>
                    <xs:element minOccurs="0" name="number_secret" type="xs:string"/>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="hour_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="register_deliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="register_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="repogramming_delivery">
                <xs:sequence>
                    <xs:element minOccurs="0" name="old_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="old_hour" type="xs:string"/>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="hour_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="repogramming_deliveryResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="repogramming_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validSlot">
                <xs:sequence>
                    <xs:element minOccurs="0" name="delivery_date" type="xs:string"/>
                    <xs:element minOccurs="0" name="hour_delivery" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="validSlotResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="valid_slot" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Exception" type="tns:Exception"/>
            <xs:complexType name="Exception">
                <xs:sequence>
                    <xs:element minOccurs="0" name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="Exception">
        <wsdl:part element="tns:Exception" name="Exception"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validSlot">
        <wsdl:part element="tns:validSlot" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="register_delivery">
        <wsdl:part element="tns:register_delivery" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="repogramming_deliveryResponse">
        <wsdl:part element="tns:repogramming_deliveryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="register_deliveryResponse">
        <wsdl:part element="tns:register_deliveryResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="repogramming_delivery">
        <wsdl:part element="tns:repogramming_delivery" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="validSlotResponse">
        <wsdl:part element="tns:validSlotResponse" name="parameters"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="PlanningWebService">
        <wsdl:operation name="register_delivery">
            <wsdl:input message="tns:register_delivery" name="register_delivery"></wsdl:input>
            <wsdl:output message="tns:register_deliveryResponse" name="register_deliveryResponse"></wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="repogramming_delivery">
            <wsdl:input message="tns:repogramming_delivery" name="repogramming_delivery"></wsdl:input>
            <wsdl:output message="tns:repogramming_deliveryResponse" name="repogramming_deliveryResponse"></wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validSlot">
            <wsdl:input message="tns:validSlot" name="validSlot"></wsdl:input>
            <wsdl:output message="tns:validSlotResponse" name="validSlotResponse"></wsdl:output>
            <wsdl:fault message="tns:Exception" name="Exception"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PlanningWebServiceServiceSoapBinding" type="tns:PlanningWebService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="register_delivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="register_delivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="register_deliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="repogramming_delivery">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="repogramming_delivery">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="repogramming_deliveryResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="validSlot">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="validSlot">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validSlotResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PlanningWebServiceService">
        <wsdl:port binding="tns:PlanningWebServiceServiceSoapBinding" name="PlanningWebServicePort">
            <soap:address location="http://localhost:8080/PlanningComponent/webservices/PlanningWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>